

a{
   font-family: 'Outfit', sans-serif;
}

#hero{
   padding-top: 10vh;
   position: relative;
}

#hero a.backBtn{
   position: absolute;
   top: 20vh;left: 0;
   color: var(--l2);
   background: #393953;
   padding: 0em;
   width: 3em;
   height: 3em;display: grid;
   place-items: center;
   transition: 0.3s;
   z-index: 10;
}

#hero a.backBtn:hover{
   background: var(--d2);
}
#hero h1{
   text-align: center;
   font-family: 'Outfit', sans-serif;
   font-size: 5em;
}

#hero .text{
   display: flex;
   flex-direction: column;
   gap: 2em;
}

#hero p{
   color: var(--l2);
   font-size: 1.7em;
   text-align: center;

}

#hero a{
   padding: 0.8em 1.7em;
   border-radius: 100vmax;
   transition: 0.3s cubic-bezier(0, .82, .55, 1);
   display: inline-block;
   font-size: 1.2em;
}

#hero .buttons{
   display: flex;
   gap: 2em;
}

a.joinBtn{
   color: var(--l2);
   border: 2px solid var(--g);
   /* transition: 0.3s var(-anim); */
   transition-delay:1s ;
   position: relative;
   overflow: hidden;
}  

a.joinBtn::before{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   background: var(--g);
   transition: 0.3s ;
   z-index: -1;
}  

a.joinBtn:hover::before{
   background: none;
}


a.joinBtn:hover{
   background: none;
   background: none;


}

a.contactBtn{
   color: var(--d1);
   background: var(--l2);
   border: 2px solid var(--l2);

}

a.contactBtn:hover{
   color: var(--l2);
   background: none;

}

#tsawer{
   display: flex;
   justify-content: center;
   margin: 20vh auto 30vh;
}

#tsawer div{
   max-width: 30vw;
}

#tsawer .right{
   transform: translate(-3em, -3em);
}


#tsawer .left{
   transform: translate(3em,3em);
}
#tsawer img{
   width: 100%;
   border-radius: 1em;
   aspect-ratio: 5/4;
   object-fit: cover;
   box-shadow: 0 0 30px 10px #39395348;
}


#vision{
   text-align: center;
   margin-bottom: 20vh;
}


#vision h1{
   font-size: 5em;
   margin-bottom: 1em;
   font-family: 'Outfit', sans-serif;
}

#vision p{
   color: var(--l2);
   font-size: 2.25em;
   max-width: 80%;
   margin: auto;
}




@media screen and (max-width:1440px) {
   #hero h1{
      font-size: 4em;
   }
   #hero p{
      font-size: 1.5em;
   }
   
   #tsawer div{
      max-width: 35vw;
   }
}

@media screen and (max-width:1000px) {
   
   #tsawer div{
      max-width: 40vw;
   }
}


@media screen and (max-width:800px) {
   #hero h1{
      font-size: 3em;
   }
   #tsawer div{
      max-width: 45vw;
   }
   #vision p{
      font-size: 2em;
      max-width: 90%;
   }
   #vision h1{
      font-size: 4.5em;
      margin-bottom: 0.5em;
   }

   #tsawer{
      margin: 15vh auto 30vh;
   }
   #tsawer .right{
      transform: translate(-3em, -4.5em);
   }
   
   
   #tsawer .left{
      transform: translate(3em,4.5em);
   }
   #vision{
      margin-bottom: 0;
   }
}

@media screen and (max-width:550px) {


   #hero h1{
      font-size: 2.5em;
   }
   #hero{
      padding-top: 0;
   }
   #tsawer div{
      max-width: 50vw;
      scale: 1.5;
   }

   #vision p{
      font-size: 1.8em;
      max-width: 100%;
   }
   #vision h1{
      font-size: 4em;
   }
}


@media screen and (max-width:450px) {
   #hero{
      height: 60vh;
   }
#hero a.backBtn{
   top: 10vh;
}


}